*{
       
        margin: 0;
        padding: 80px;
        box-sizing: border-box;
        
    }
.producto_menu {
        width: 500px;
        background-color: rgb(129, 210, 237);
        padding: 70px;
        border: 300px;
        border-radius: 40px;
        margin-bottom: 60px;
       
       }
    
    
.registro {
       width: 150px;
       background-color: white;
       padding: 20px;
       border-radius: 50px;
       text-decoration: none;
       display: inline-block;
       margin-right: 20px;
}
       

a.consulta {
        width: 150px;
        background-color: white;
        padding: 20px;
        border-radius: 50px;
        text-decoration: none;
        display: inline-block;
        
        }
 

